 {% extends 'base.html' %} {% load staticfiles %} {% load i18n %} {% block title %}{{ page_user.profile.get_screen_name }}{% endblock %} {% block head %}
 {% load django_tables2 %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">



window.onload = function () {
    var overdue = "{{ overdue.count}}";
    var active = "{{ active.count }}";
    var medication = "{{ medication.count }}";
    var patients = "{{ patients.count }}";
    var missed = "{{ missed.count }}";
    var delivered = "{{ delivered.count }}"
    var gotooverdue = "{% url 'medications' %}"
    var chart = new CanvasJS.Chart("chartContainer", {
        theme: "dark2", //"light1", "Light2", "dark1", "dark2"
        exportEnabled: true,
        // title:{
        //     text: "Sample Column Chart"              
        // },
        data: [              
        {
            // Change type to "doughnut", "line", "splineArea", etc.
            type: "pie",
            cursor: "pointer",
            dataPoints: [
                { label: "Missed", y: eval(missed) },
                { label: "Delivered", y: eval(delivered) },
            ]
        },
        ]
    });
    var newchart = new CanvasJS.Chart("chartContainer2", {
        theme: "dark2",
        exportEnabled: true,
        // title:{
        //     text: "Sample Doughnut Chart"              
        // },
        data: [              
        {
            // Change type to "doughnut", "line", "splineArea", etc.
            type: "column",
            cursor: "pointer",
            dataPoints: [
                { label: "Overdue",  y: eval(overdue),  },
                { label: "Active",  y: eval(active) },
                { label: "Medication", y: eval(medication) },
                { label: "Patients", y: eval(patients)  }
            ]
        },
                {
            // Change type to "doughnut", "line", "splineArea", etc.
            type: "line",
            dataPoints: [
                { label: "Overdue",  y: eval(overdue) },
                { label: "Active",  y: eval(active) },
                { label: "Medication", y: eval(medication)  },
                { label: "Patients", y: eval(patients)  }
            ]
        },
        ]
    });
    chart.render();
    newchart.render();
}
</script>
{% endblock head %} {% block main %}
<div class="page-header">
    <h1>{{ page_user.profile.get_screen_name }} {% if page_user.get_full_name %}({{ page_user.username }}){% endif %}</h1>
</div>
<div class="profile">
    <div class="row">
        <div class="col-md-3 user-profile">
            <img src="{{ page_user.profile.get_picture }}" class="picture">
            <ul>
                {% if page_user.profile.job_title %}
                <li><span class="glyphicon glyphicon-briefcase"></span> {{ page_user.profile.job_title }}</li>
                {% endif %} {% if page_user.profile.location %}
                <li><span class="glyphicon glyphicon-map-marker"></span> {{ page_user.profile.location }}</li>
                {% endif %} {% if page_user.profile.url %}
                <li><span class="glyphicon glyphicon-globe"></span> <a href="{{ page_user.profile.get_url }}" target="_blank">{{ page_user.profile.get_url }}</a></li>
                {% endif %}
            </ul>
            {% include 'core/partial_settings_menu_2.html' with active='dashboard' %}

        </div>
        <div class="col-md-9">
            <h4>{% trans 'Dashboard for' %} {{ page_user.profile.get_screen_name }}</h4>
            <div class="stream-update">

            <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
            </div>
            <h4><a href="{% url 'monthlyMissed' %}" >{% trans 'Missed Medications for' %} {% now 'F o' %}</a></h4>
            <div class="stream-update">
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                
            </div>
            <ul class="stream">



                <hr>
                </ul>
                </div>
                </div>
                </div>


{% endblock %}