
{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <script src="{% static 'js/residents.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'resident' %}">{% trans 'Resident' %}</a></li>
    <li class="active">{% trans 'Create Resident' %}</li>
  </ol>
  <form action="{% url 'create' form.instance.pk %}" method="post" role="form">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
      </div>
    {% endfor %}
    <div class="form-group">
      <button type="button" class="btn btn-primary publish">{% trans 'Create' %}</button>
      <!-- <button type="button" class="btn btn-default draft">{% trans 'Save Draft' %}</button> -->
      <!-- <button type="button" class="btn btn-default preview" data-toggle="modal" data-target="#preview">{% trans 'Preview' %}</button> -->
      <a href="{% url 'residents' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>


{% endblock main %}