 {% extends 'base.html' %} {% load staticfiles %} {% load i18n %} {% load humanize %} {% block title %} {{ resident.residentFirstName }} {{ resident.residentLastName }} {% endblock %} {% block head %}
<link href="{% static 'css/residents.css' %}" rel="stylesheet">
<script src="{% static 'js/residents.js' %}"></script>
{% endblock head %} {% block main %}
<a href="{% url 'createMedication' resident.id %}" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus"></span> {% trans 'Add Medication' %}
        </a>
<a href="/medications/mar/{{resident.id}}" class="btn btn-danger pull-right">
        <span class="glyphicon glyphicon-calendar"></span> {% trans 'Generate MAR' %} </a>
<div class="container">
    <div class="page-header">
        <h1>{{ resident.residentFirstName }} {{ resident.residentLastName }} <small>({{ resident.dnr_status }})</small></h1>
    </div>
    <div class="profile">
        <div class="row">
            <div class="col-md-3 user-profile">
                <img src="http://trybootcamp.vitorfs.com/static/img/user.png" class="user-profile picture">
            </div>
        </div>
                <div class="col-md-3">
            <div class="list-group">
            {% include 'core/partial_resident_menu.html' with medication=medication %}
            </div>
        </div>
        <!-- Start Here -->
        <div class="container">
        </div>
    </div>
    <div class="container">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-lg btn-group-justified btn-group-fill-height">
                <a href="{% url 'rx_overdue' resident.id %}" class="btn btn-danger" role="button">
                <strong>Overdue</strong>
                <br>
                <span class="badge">{{ overdue_medications.count }}</span>
            </a>
                <a href="{% url 'rx_active' resident.id %}" class="btn btn-success" role="button">
                <strong>Active</strong>
                <br>
                <span class="badge">{{ active.count }}</span>
            </a>
                <a href="{% url 'rx_prn' resident.id %}" class="btn btn-primary" role="button">
                <strong>PRN</strong>
                <br>
                <span class="badge">{{ prn.count }}</span>
            </a>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            {% for p in prn %}
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <img src="http://trybootcamp.vitorfs.com/static/img/user.png" style="width:20px">
                        <a style="color:white" href="/residents/{{ p.timeMedication.medicationResident_id }}">{{ p.timeMedication.medicationResident}}</a>
                    </div>
                    <div class="panel-body">
<!--                         <a href="/medications/{{p.timeMedication.id}}" class="center-text"><strong>History</strong></a> -->
                        <a href="/medications/{{ p.timeMedication.id }}"><strong>Medication:</strong> {{ p.timeMedication.medicationName }}</a>
                        <!--                     <p><strong>Rx ID:</strong> {{ m.timeMedication_id }}</p> -->
                        <!--                     <p><strong>Record ID:</strong> {{ m.id }}</p> -->
<!--                         <p><strong>Due:</strong> {{ m.timeDue }}</p> -->
                        <p><strong>Count:</strong> {{ p.timeMedication.medicationQuantity }}</p>
                        <form action="{% url 'acceptRefuse' p.id p.timeMedication_id %}" type=POST>
                            <button type="submit" class="btn btn-success">Give</button>
                        </form>
                        <!-- Start partial history mar if needed -->
                        <!-- End partial mar -->
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    {% endblock main %}