
 {% extends 'base.html' %} {% load staticfiles %} {% load i18n %} {% load humanize %} {% block title %} {% trans 'MARS' %} {% endblock %} {% block head %}
<link href="{% static 'css/medications.css' %}" rel="stylesheet">
<link href="{% static 'js/medications.js' %}" rel="stylesheet"> {% endblock head %} {% block main %}
<div class="container">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-lg btn-group-justified btn-group-fill-height">
            <a href="{% url 'overdueMedications' %}" class="btn btn-danger" role="button">
                <strong>Overdue</strong>
                <br>
                <span>{{ overdue_medications.count }}</span>
            </a>
            <a href="{% url 'activeMedications' %}" class="btn btn-success" role="button">
                <strong>Active</strong>
                <br>
                <span>{{ active.count }}</span>
            </a>
            <a href="{% url 'medications' %}" class="btn btn-default" role="button">
                <strong>All</strong>
                <br>
                <span><p>{{ medications.count }}</p></span>
            </a>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        {% for m in active %}
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <img src="http://trybootcamp.vitorfs.com/static/img/user.png" style="width:20px">
                    <a href="/residents/{{ m.timeMedication.medicationResident_id }}">{{ m.timeMedication.medicationResident }}</a>
                </div>
                <div class="panel-body">
                    <a href="{{m.timeMedication.id}}" class="center-text"><strong>History</strong></a>
                    <a href="/medications/{{ m.timeMedication.id }}"><strong>Medication:</strong> {{ m.timeMedication.medicationName }}</a>
<!--                     <p><strong>Rx ID:</strong> {{ m.timeMedication_id }}</p> -->
<!--                     <p><strong>Record ID:</strong> {{ m.id }}</p> -->
                    <p><strong>Due:</strong> {{ m.timeDue }}</p>
                    <p><strong>Count:</strong> {{ m.timeMedication.medicationQuantity }}</p>
                    <form action="{% url 'acceptRefuse' m.id m.timeMedication_id %}" type=POST>
                        <button type="submit" class="btn btn-success">Give</button>
                    </form>
                    <!-- Start partial history mar if needed -->
                    <!-- End partial mar -->
                </div>
            </div>
        </div>
        {% empty %}
        <h4 class="no-data">{% trans 'There are no medications due at this time' %}. <a href="{% url 'medications' %}">{% trans 'View All Medications' %}</a></h4>
        {% endfor %}
    </div>
</div>
{% endblock main %}

