
{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block head %}
  <script src="{% static 'js/medications.js' %}"></script>
  <script src="{% static 'js/custom_medications.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'medications' %}">{% trans 'Medications' %}</a></li>
    <li class="active">{% trans 'Edit Medication' %}</li>
  </ol>
  <form action="{% url 'editMedication' form.instance.pk %}" method="post" role="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    <div class="form-group">
      {% buttons %}
      <button type="submit" class="btn btn-primary publish">{% trans 'Save' %}</button>
      <a href="{% url 'medications' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
      {% endbuttons %}
    </div>
  </form>


{% endblock main %}