 {% extends 'base.html' %} {% load staticfiles %} {% load i18n %} {% load humanize %} {% block title %} {% trans 'MARS' %} {% endblock %} {% block head %}
<link href="{% static 'css/medications.css' %}" rel="stylesheet">
<link href="{% static 'js/medications.js' %}" rel="stylesheet"> 
{% endblock head %} 
{% block main %}
<div class="container">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-lg btn-group-justified btn-group-fill-height">
            <a href="{% url 'overdueMedications' %}" class="btn btn-danger" role="button">
                <strong>Overdue</strong>
                <br>
                <span>{{ overdue_medications.count }}</span>
            </a>
            <a href="{% url 'activeMedications' %}" class="btn btn-success" role="button">
                <strong>Active</strong>
                <br>
                <span>{{ active_medications.count }}</span>
            </a>
            <a href="{% url 'medications' %}" class="btn btn-default" role="button">
                <strong>PRN(Temp All)</strong>
                <br>
                <span><p>{{ meds.count }}</p></span>
            </a>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        {% for overdue in overdue %}
        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <img src="http://trybootcamp.vitorfs.com/static/img/user.png" style="width:20px">
                    <a href="/residents/{{ overdue.medication.medicationResident_id }}">{{ overdue.timeMedication.medicationResident }}</a>
                </div>
                <div class="panel-body">
                    <a href="/medications/{{ overdue.timeMedication_id }}"><strong>Medication:</strong> {{ overdue.timeMedication.medicationName }}</a>
                    <p><a href="/medications/{{ overdue.timeMedication_id }}" class="center-text"><strong>History</strong></a></p>
                    
                    <p><strong>Due:</strong> {{ overdue.timeDue }}</p>
                    <p><strong>PO:</strong> {{ overdue.timeMedication.medicationComment }}
                    <p><strong>Count:</strong> {{ overdue.timeMedication.medicationQuantity }}</p>
<!--                     <p><strong>Given Today:</strong> {{ overdue.timeGivenStatus }}</p>
                    <p>TimeRecord ID: {{ overdue.id }} </p>
                    <p>Medication ID: {{ overdue.timeMedication_id }} </p> -->
                    <p>
                    <form action="{% url 'acceptRefuse' overdue.id overdue.timeMedication_id %}" type=POST>
                        <button type="submit" class="btn btn-success">Give</button>
                    </form>
                    <!-- Start partial history mar if needed -->
                    <!-- End partial mar -->
                </div>
            </div>
        </div>
        {% empty %}
        <h4 class="no-data">{% trans 'There are no medications due at this time' %}. <a href="{% url 'medications' %}">{% trans 'View All Medications' %}</a></h4> 
        {% endfor %}
    </div>
    {% endblock main %}
